* {
  font-family: "Circular Std Book", sans-serif;
}
body {
  background-color: #130f0d;
  color: white;
}
.boards {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
  .board {
    background: #141316;
    border: 1px solid #fd951f11;
    border-radius: 4px;
    margin: 0px 26px;
    h3 {
      padding: 16px;
      margin: 0;
      color: #fd951fcc;
    }
    .dropzone {
      padding: 16px;
      min-width: 282px;
      min-height: 200px;
      transition: all 400ms;
      .card {
        padding: 16px;
        box-shadow: 0 2px 2px -1px #fd951fcc;
        width: 250px;
        margin: 25px 0;
        border-radius: 4px;
        font-weight: 600;
        font-size: 18px;
        background: #1a1a1c;
        transition: all 400ms;
        .status {
          width: 30px;
          height: 8px;
          background: gray;
          margin-bottom: 16px;
          border-radius: 8px;
        }
        .green {
          background: #23d2ac;
        }
        .red {
          background: red;
        }
        .blue {
          background: #33adff;
        }
      }
    }
  }
}
// Dropzone class color functions
.highlight {
  background-color: #fd951f08;
}
.dragging {
  cursor: move;
  opacity: 0.3;
}
.over-dropzone {
  background-color: #4cd13711;
}
